.input {
  @apply shadow-xl rounded-xl px-3 py-2 border text-lg font-bold;
}

select {
  @apply shadow-xl rounded-xl px-3 py-3 border font-bold;
}

option {
  @apply p-1 text-lg;
}

input[type="number"]::-webkit-outer-spin-button,
input[type="number"]::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

/* Firefox */
input[type="number"] {
  -moz-appearance: textfield;
}

/* Remove arrows in Edge, Internet Explorer */
input[type="number"]::-ms-clear,
input[type="number"]::-ms-reveal {
  display: none;
}

input[type="number"]:focus {
  outline: none;
}
